body {
    background: #eee;
    padding: 0;
    margin: 0;
}

.main-nav {
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

.main-nav-placeholder {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;

}

.hero {
    background: #eee;
    height: 400px;
    width: 100%;
}

.user-info {
    display: inline-block;
    position: absolute;
    bottom: -3em;
}

.user-image {
    display: inline-block;
    max-width: 200px;
}

.hero-content-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
